<%- include('inc/header') -%>
    <main class="main-content">
        <%- include('inc/content/loading') -%>
        <%- include('inc/content/banner') -%>
        <%- include('inc/content/services') -%>
        <%- include('inc/content/lead') -%>
        <%- include('inc/content/about') -%>
        <%- include('inc/content/news') -%>
        <%- include('inc/content/contact') -%>
    </main>
<%- include('inc/footer') -%>
<%- include("inc/forms/sweetsalerts") -%>