<%- include('inc/header') -%>
    <main class="main-content">
        <% news.forEach((row) => { %>
        <article class="news-article">
            <section class="banner-news">
                <div class="news-banner-image" style="background-image: url('/<%= row.photo %>')">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="news-banner-content">
                            <h1 class="title-news-banner text-center">
                                <%= row.title %>
                            </h1>
                        </div>
                    </div>
                </div>
            </section>

            <section class="news-content _pt50 _pb50">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="news-info">
                                <div class="news-author">
                                    <span>
                                        Publicado por:&nbsp;
                                        <a href="#" rel="author"><%= row.author %></a>
                                    </span>
                                </div>
                                <div class="news-register">
                                        <%
                                            let register = row.register;
                                            let year = register.getFullYear();
                                            let month = register.getMonth() + 1;
                                            let date = register.getDate();

                                            if(month <= 9) {
                                                month = '0' + month;
                                            }

                                            if(date <= 9) {
                                                date = '0' + date;
                                            }

                                            register = date + '/' + month + '/' + year;
                                        %>
                                    <span>
                                        <%= register %>
                                    </span>
                                </div>
                            </div>

                            <div class="news-content-wrapper _pt25">
                                <p class="subtitle-news text-center">
                                    <%= row.subtitle %>
                                </p>

                                <img src="/<%= row.photo %>" alt="<%= row.title %>" class="img-fluid">

                                <pre class="text-news _pt25 text-jutify">
                                    <%= row.text %>
                                </pre>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
        </article>
        <% }); %>
    </main>
<%- include('inc/footer') -%>